.addred{color:red;}
   #nhap, h1 {
       text-align:center;
       
   }
  
   table, th, td{
       border:1px solid black;
      
       margin-top:50px;
    
       text-align:center;
   }
   
   #addXdinh {
       text-align:center;
        margin:50PX;
        clear:left;
    }
    
    table{
        float:left;
        margin-bottom:50px;
        width:100%;
    }
   
   